.header {
    width: 100%;
    height: 60px;
    background-color: grey;
    display: flex;
    justify-content: stretch;
    align-content: center;
}

.header__logo {
    flex-basis: 25%;
    display: flex;
}

.header__menu {
    flex-basis: 75%;
}


@media (min-width: 768px) {
    .header {
        justify-content: space-between;
        background-color: transparent;
    } 

    .header__logo {
        flex-basis: 45%;
    }
    
    .header__menu {
        flex-basis: 45%;
        height: 35px;
        align-self: center;
    }
}