.logo {
    display: flex;
    padding: 3px;
    justify-content: stretch;
    align-items: center;
}

.logo__img {
    display: flex;
    align-items: center;
    max-width: 100%;
}

.logo__text {
    text-transform: uppercase;
    color: white;
    font-size: 3vw;
    line-height: 1vw;
}

.logo__author {
    display: none;
}

.logo__text-container {
    display: flex;
    align-items: baseline;
}

@media (min-width: 768px) {
    .logo__text {
        font-size: 4em;
    }

    .logo__author {
        display: inline-block;
        color: white;
        text-transform: uppercase;
    } 
}