.logo {
    display: flex;
    padding: 3px;
    justify-content: center;
}

.logo__img {
    flex-basis: 60%;
}

.logo__author {
    display: none;
}

@media (min-width: 768px) {
    .logo__author {
        display: block;
        align-self: flex-end;
        color: white;
        text-transform: uppercase;
        flex: 1;
        flex-basis: 40%;
    } 
}