.poster {
    display: flex;
    background-color: white;
    height: 233px;
}

.poster__text {
    background-color: #ec9e03;
    padding: 1em 2em 1em 1em;
    margin-right: calc(2px + 4 *((100vw - 320px) / (640 - 320)));
    color: white;
    font-weight: 300;
    line-height: 1.308;
    font-size: calc(14px + 12 *((100vw - 320px) / (640 - 320)));
    flex: 1; 
}

.poster__video-container {
    flex: 1;
    width: 50%;
}

.poster__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (min-width: 768px) {
    .poster {
        padding: 0; 
        margin: 0;
    }

    .poster__text {
        margin: 0px;
        padding: 25px 38px 34px 31px;
        font-size: 2.9rem;
    }
}

  